{% extends 'base.html' %}

{% block title %}Welcome {{request.user.username}}{% endblock %}

{% block content %}
<div>
{% for game in allgames %}
<a href="{{game.game_name.split|join:"_"}}">
    <b>
    {{game.game_name }}
    </b> by
    {{game.game_developer}}
    <br />
    ${{game.game_price|floatformat:2}}
    <br />
  </a>
  <form action="/delete_game/" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <p>Click the button to display a confirm box.</p>

<button onclick="myFunction()">Delete</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x;
    if (confirm("Are you sure you want to delete?") == true) {
        x = "Deleted!";
    } else {
        x = "Canceled!";
    }
    document.getElementById("demo").innerHTML = x;
}
</script>


  <p id="demo"></p>


  {% empty %}
      <li>No games yet.</li>
      <a href="{% url 'addgame' %}">Want to add game? Click here</a>
{% endfor %}
</div>
{% endblock %}
