{% extends 'base.html' %}
{% block title %}{{game.game_name}}{% endblock %}
{% block header %}
<!-- <link href="{{ STATIC_URL }}styles.css" rel="stylesheet" type="text/css" /> -->

<style type="text/css">
button {
    background-color: #003250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.registration-container{
position: relative;
background: #B1DBFF;
width: 600px;
margin:0px auto;
}
</style>

<script>
$(document).ready(){
  "use strict"
window.addEventListener("message", receiveMessage, false);

function receiveMessage(event)
{
  var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
  if (origin !== "http://example.org:8080")
    return;

  // ...
}
}
</script>
{% endblock %}


{% block content %}
<div align="center" id="centertag" class="registration-container">
<div>
  <iframe src="{{game.game_url}}" width="80%" height="1080px" frameborder="0">
    <p>Your browser does not support iframes.</p>
  </iframe>
  <br />
<a href="{{game.game_name.split|join:"_"}}">
    <b>
    {{game.game_name }}
    </b> by
    {{game.game_developer}}
    <br />
    ${{game.game_price|floatformat:2}}
  </a>
</div>
<p><a href="{% url 'games' %}">Go back</a> to games list</p>
{% endblock %}
</div>