{% extends 'base.html' %}
{% block title %}Are you sure you want to delete {{game.game_name}}, {{request.user.username}}?{% endblock %}
{% block header %}
{% load static %}
<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

                <div id = "centertag">
                    <form method="post">{% csrf_token %}
                        <p>Are you sure you want to delete {{game.game_name}}, {{request.user.username}}?</p>
                        <br>
                        <input type="submit" value="Submit" />
                    </form>
                    <br><br>
                    <a href="{% url 'manage_game' %}">Click here if you have changed your mind?</a>
                </div>
{% endblock %}
