{% extends 'base.html' %} {% block title %}{{game.game_name}}{% endblock %} {% block header %}
<!-- <link href="{{ STATIC_URL }}styles.css" rel="stylesheet" type="text/css" /> -->

<style type="text/css">
  button {
    background-color: #003250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #game_frame {
    border: 0;
    text-align: center;
  }
</style>
<script>
  $(document).ready(function() {
    "use strict"
    $(window).on('message', function(e) {
      // For Chrome, the real event is in the event.originalEvent object.
      var data = e.originalEvent.data;
      if (data.messageType == "SCORE") {
        //todo $('#scores').html(data.score);
      } else if (data.messageType == "SAVE") {
        $.ajax({
          type: "POST",
          url: "/save/",
          data: {
            'game_name': '{{game.game_name}}',
            'player_name': '{{request.user.username}}',
            'state': JSON.stringify(data),
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          dataType: "json",
        });
      } else if (data.messageType == "LOAD_REQUEST") {
        $.ajax({
          type: "POST",
          url: "/load/",
          data: {
            'game_name': '{{game.game_name}}',
            'player_name': '{{request.user.username}}',
            'json': JSON.stringify(data),
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          dataType: "json",
          success: function(data){
            alert(JSON.stringify(data, null, 4));
            document.getElementById("game_frame").contentWindow.postMessage(data, "*");
          }
        });
        document.getElementById("game_frame").contentWindow.postMessage(data, "*");

      } else if (data.messageType == "SETTING") {
        document.getElementById("game_frame").width = data.options.width;
        document.getElementById("game_frame").height = data.options.height;
      } else if (data.messageType == "LOAD") {
        document.getElementById("game_frame").contentWindow.postMessage(data.gameState, "*");
      }
    }) // 3ICE: These two brackets close (window).on
  }); //3ICE: These two close (document).ready and the function(){} inside it.


  //Thanks to: http://stackoverflow.com/questions/819416/adjust-width-height-of-iframe-to-fit-with-content-in-it
  window.addEventListener('DOMContentReady', function(e) {
    var iframes = document.querySelectorAll("iframe");
    for (var i = 0; i < iframes.length; i++) {
      iframes[i].width = iFrame.contentWindow.document.body.scrollWidth+10;
      iframes[i].height = iFrame.contentWindow.document.body.scrollHeight+10;
    }
  });
</script>
<!-- <script>
  $(document).ready() {

    window.addEventListener("message", receiveMessage, false);

    function receiveMessage(event) {
      var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
      if (origin !== "http://example.org:8080")
        return;

      // ...
    }
  }
</script> -->
{% endblock %} {% block content %}
<div id="centertag" class="registration-container">
  <div>
    <iframe id="game_frame" src="{{game.game_url}}" width="1920" height="1080">
  <p>Your browser does not support iframes.</p>
</iframe>
    <br />
    <a href="{{game.game_name.split|join:" _ "}}">
      <b>
  {{game.game_name }}
  </b> by {{game.game_developer}}
      <br /> ${{game.game_price|floatformat:2}}
    </a>
  </div>
  <p><a href="{% url 'games' %}">Go back</a> to games list</p>
</div>
{% endblock %}
