{% extends 'base.html' %}
{% block title %}Welcome {{request.user.username}}{% endblock %}
{% block header %}
{% load static %}
<!--<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />-->
{% endblock %}
{% block content %}
<div align="center" id="centertag" class="registration-container">
{% for game in allgames %}
    <b>
    {{game.game_name }}
    </b> by
    {{game.game_developer}}
    <br />
    ${{game.game_price|floatformat:2}}
<p><a href="/game_confirmation_delete/{{game.game_name}}">Delete this game</a> or <a href="/update/{{game.game_name}}">Edit this game</a></p>


  {% empty %}
      <p>No games yet.</p>
      <a href="{% url 'addgame' %}">Want to add game? Click here</a>
{% endfor %}
</div>
{% endblock %}
