{% extends 'base.html' %}
{% block title %}Payment Failed!, Sorry {{request.user.username}}{% endblock %}
{% block header %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
     <h2>Payment failed for {{request.user.username}}</h2> 
{% else %}
     <a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Register</a>
{% endif %}
<div id = "centertag">
   <p>An error occurred while processing your payment request.</p>
   <a href="/"><span class="glyphicon glyphicon-home"></span> Return to Home</a> or <a href="javascript:history.go(-2)">Go back and try again</a>
</div>
{% endblock %}
