{% extends 'base.html' %}
{% block header %}
<style type="text/css">
.registration-container{
position: relative;
background: #B1DBFF;
width: 600px;
 margin:0px auto;
}
</style>
{% endblock %}
{% block title %}Welcome {{request.user.username}}{% endblock %}

{% block content %}
<div align="center" id="centertag" class="registration-container">
  if(signup.saved==true){
    <h2>Developer View</h2>
    <p>You are currently logged in as developer {{request.user.username}}. </p>
  }
  else{
    <h2>Player View</h2>
    <p>You are currently logged in as Player {{request.user.username}}. </p>
  }
  <p>

    <li><a href="{% url 'addgame' %}">Add Game</a></li>
    <li><a href="{% url 'games' %}">Play games</a></li>
    <li><a href="{% url 'delete_game' %}">Delete Game</a></li>
  </p>

{% endblock %}
</div>
