{% extends 'base.html' %}
{% block header %}
{% load static %}
<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />


{% endblock %}
{% block title %}Welcome {{request.user.username}}{% endblock %}

{% block content %}
{% if msg %}
    <p style="color:blue;">{{msg}}</p>
{% endif %}
<div id="centertag" class="registration-container">
  <h2>Developer View</h2>
  <p>You are currently logged in as Developer {{request.user.username}}.</p>
  <p><em>Let's develop some games, shall we!?</em></p>
  <p>
    <ul>
      <li><a href="{% url 'addgame' %}">Add Game</a></li>
      <li><a href="{% url 'games' %}">Play games</a></li>
      <li><a href="{% url 'manage_game' %}">Manage Game</a></li>
      <li><a href="{% url 'sale_statistics' %}">Game statistics</a></li>
    </ul>
  </p>
{% endblock %}
</div>
