{% extends 'base.html' %}
{% block header %}
{% load static %}
<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />


{% endblock %}
{% block title %}Welcome {{request.user.username}}{% endblock %}

{% block content %}
{% if msg %}
    <p style="color:blue;">{{msg}}</p>
{% endif %}
<div align="center" id="centertag" class="registration-container">
  <h2>Player View</h2>
  <p>You are currently logged in as Player {{request.user.username}}.</p>
  <p><em>Go on, beat the high score!</em></p>
  <p>
    <ul>
      <li><a href="{% url 'games' %}">Play games</a></li>
    </ul>
  </p>
{% endblock %}
</div>
