
{% block header %}
{% load static %}
<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />



{% endblock %}

{% block content %}
<div id="centertag" class="registration-container">
                    
                        <strong>Thank you for registering! <br> You must validate your account before you can log in. <br> Check your inbox for the validation link!</strong> <br>
                        <a href="{% url 'login' %}">Proceed to Login page</a><br />

            </div>
{% endblock %}