{% extends 'base.html' %}
{% block title %}Welcome {{request.user.username}}{% endblock %}
{% block header %}
{% load static %}
<link href="https://daak-store.herokuapp.com/static/styles.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div id="centertag" class="registration-container">
{% for game in allgames %}
    <b>
    {{game.game_name }}
    </b> by
    {{game.game_developer}}
    <br />
    ${{game.game_price|floatformat:2}}
    <br/>
  <b> Total Numbers of sales: </b>
    {{game.game_sales}}
  <br/>
  <b> Game Bought: </b>

  <ul>
  {% for time in time_stamp %}
  <li>  {{time|date:"SHORT_DATETIME_FORMAT" }}</li>

  {% endfor %}
  </ul>

  {% empty %}
      <p>No games yet.</p>
      <a href="{% url 'addgame' %}">Want to add game? Click here</a>
{% endfor %}
</div>
{% endblock %}
