button {
    background-color: #003250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/*input{
    background-color: #4CAF50 !important;
    border: none !important;
    color: white !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}
*/

.registration-container{
position: relative;
background: #B1DBFF;
width: 600px;
margin: auto;
text-align: center;
}
#centertag a{
  display: block;
  border: 1px solid;
}
input[type="submit"]{
    background-color: #003250;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#centertag ul{
    list-style-type: none;
}
#centertag li{
    list-style-type: none;
}